html{
  scroll-behavior: smooth;
}
element.style {
  height: 100%;
}
body {
    background-color: #4d64ff;
    overflow-x: hidden;
  }
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 10px;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
    color: #fff;
}
.linkNavbar {
  margin-right: 50px;
  margin-top: 10px;
}
.linkNav {
  position: relative;
  color: #fff;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
}
.testoSezione1 {
  margin-bottom: 150px;
  margin-left: 50px;
} 